<server description="Oracle RAC Server">
    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-9.1</feature>
    </featureManager>

    <variable name="ORACLE_URL" value="jdbc:oracle:thin:@oracle:1521/xe"/>
    <variable name="ORACLE_USERNAME" value="system"/>
    <variable name="ORACLE_PASSWORD" value="oracle"/>

    <!--
     To access this server from a remote client add a host attribute to the following element, e.g. host="*" 
    -->
    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true" />

    <library id="OracleLib">
        <fileset id="jdbcLibFileset" dir="${server.config.dir}/lib/jdbc/" includes="*.jar" />
    </library>

    <!--
     Configures the application on a specified context root 
    -->
    <webApplication contextRoot="/oracleRAC" location="oracleRAC.war" commonLibraryRef="OracleLib" />

    <dataSource jndiName="jdbc/oracle-rac">
        <jdbcDriver libraryRef="OracleLib" />
        <properties.oracle URL="${ORACLE_URL}" user="${ORACLE_USERNAME}" password="${ORACLE_PASSWORD}" />
    </dataSource>
    
    <logging traceSpecification=" *=info:WAS.j2c=al:RRA=all:oracle=all" />
</server>